<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeControl1</servlet-name>
        <servlet-class>Controllers.HomeControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginControl</servlet-name>
        <servlet-class>Controllers.LoginControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageControl</servlet-name>
        <servlet-class>Controllers.ManageControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpControl</servlet-name>
        <servlet-class>Controllers.SignUpControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Controllers.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDetail</servlet-name>
        <servlet-class>Controllers.BookDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>Controllers.delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete1</servlet-name>
        <servlet-class>Controllers.delete1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addauthor</servlet-name>
        <servlet-class>Controllers.addauthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addbook</servlet-name>
        <servlet-class>Controllers.addbook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBook</servlet-name>
        <servlet-class>Controllers.EditBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controllers.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mycart</servlet-name>
        <servlet-class>Controllers.mycart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cartshow</servlet-name>
        <servlet-class>Controllers.cartshow</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>quantitybook</servlet-name>
        <servlet-class>Controllers.quantitybook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeAccount</servlet-name>
        <servlet-class>Controllers.changeAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resetpass</servlet-name>
        <servlet-class>Controllers.resetpass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newPass</servlet-name>
        <servlet-class>Controllers.newPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newpass</servlet-name>
        <servlet-class>Controllers.newpass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>history</servlet-name>
        <servlet-class>Controllers.history</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeControl1</servlet-name>
        <url-pattern>/HomeControl1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginControl</servlet-name>
        <url-pattern>/LoginControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageControl</servlet-name>
        <url-pattern>/ManageControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpControl</servlet-name>
        <url-pattern>/SignUpControl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDetail</servlet-name>
        <url-pattern>/BookDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete1</servlet-name>
        <url-pattern>/delete1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addauthor</servlet-name>
        <url-pattern>/addauthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addbook</servlet-name>
        <url-pattern>/addbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBook</servlet-name>
        <url-pattern>/EditBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mycart</servlet-name>
        <url-pattern>/mycart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cartshow</servlet-name>
        <url-pattern>/cartshow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>quantitybook</servlet-name>
        <url-pattern>/quantitybook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeAccount</servlet-name>
        <url-pattern>/changeAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resetpass</servlet-name>
        <url-pattern>/resetpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newPass</servlet-name>
        <url-pattern>/newPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newpass</servlet-name>
        <url-pattern>/newpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>history</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
